@model IEnumerable<TicketManagementApp.Models.Ticket>
@using TicketManagementApp.Models;
@using System.Globalization;
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    PersianCalendar persianCalendar = new PersianCalendar();
}

@*<!DOCTYPE html>*@

<!--<html>
<head>-->
    @*<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>*@
<!--</head>-->
<body>
    <div class="bg-dark min-vh-100">
        <h1 class="text-center text-danger">لیست تیکت ها</h1>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TicketID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketGroup.TicketGroupTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketSubject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketAttachment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketDate)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Account.UserGroup)
                </th>*@
                <th>عملیات</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketGroup.TicketGroupTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketSubject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketDescription)
                    </td>
                    <td>
                        <a href="~/TicketAttachments/@item.TicketAttachment">@Html.DisplayFor(modelItem => item.TicketAttachment)</a>
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.TicketStatus)
                    </td>


                    <td>
                        @{
                            string date = persianCalendar.GetYear(item.TicketDate).ToString() + "/" + persianCalendar.GetMonth(item.TicketDate).ToString() + "/" + persianCalendar.GetDayOfMonth(item.TicketDate).ToString();
                        }
                        @date
                        @*@Html.DisplayFor(modelItem => item.TicketDate)*@
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Account.UserGroup)
                    </td>*@
                    <td>
                        @Html.ActionLink("پاسخ", "Edit", new { id = item.TicketID }) |
                        @Html.ActionLink("TicketDetails", "TicketDetails", new { id = item.TicketID }) @*|*@
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.TicketID })*@
                    </td>
                </tr>
             }

        </table>
    </div>
    </div>
</body>
</html>
