@model IEnumerable<TicketManagementApp.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketGroup.TicketGroupTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketGroup.TicketGroupTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketID })
        </td>
    </tr>
}

</table>
