@model TicketManagementApp.Models.Ticket

@{
    //Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    int userGroupId = Int32.Parse(Session["UserGroupId"].ToString());
    //Layout = "~/Views/Shared/_DefPage1.cshtml";
    ViewBag.Title = "Create";

}

<!--<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>-->
<!-- Bootstrap Core /Content/css -->
<!--<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">-->
<!-- Custom /Content/css -->
<!--<link href="~/Content/css/sb-admin.css" rel="stylesheet">-->
<!-- Morris Charts /Content/css -->
<!--<link href="~/Content/css/plugins/morris.css" rel="stylesheet">-->
<!-- Custom Fonts -->
<!--<link href="~/Content/font-awesome/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond./Content/js/1.4.2/respond.min.js"></script>
<![endif]-->
<!--</head>-->
<!--<head>-->
@*<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />*@
@*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
<!--</head>-->

<div class="container">
        @using (Html.BeginForm("Create", "User", FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm" }))
        {
            @Html.AntiForgeryToken()

            
    <div class="card">
                <div class="card-header bg-success"><h4>تیکت جدید</h4></div>
                @*<hr />*@<div class="card-body">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.TicketSubject, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.TicketSubject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TicketSubject, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.TicketGroupID, "نوع تیکت", htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownList("TicketGroupID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TicketGroupID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-4">
            <label>ارسال به دپارتمان</label>
            @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4 hide">
            @Html.LabelFor(model => model.Account.UserGroupID, "واحد", htmlAttributes: new { @class = "control-label" })
            <div class="">
                @*@Html.EditorFor(model=>model.UserGroupID, new { htmlAttributes = new { @class = "form-control", @value = userGroupId } })*@
                @*@Html.DropDownList("UserGroupID", null, htmlAttributes: new { @class = "form-control" })*@
                @*@Html.ValidationMessageFor(model => model.Account.UserGroupID, "", new { @class = "text-danger" })*@
                <input name="usergroup" type="number" value="@userGroupId"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TicketDescription, htmlAttributes: new { @class = "control-label" })
        <div class="">
            @Html.EditorFor(model => model.TicketDescription, new { htmlAttributes = new { @class = "form-control", @rows = 8 } })
            @Html.ValidationMessageFor(model => model.TicketDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group w-25">
        @Html.LabelFor(model => model.TicketAttachment, htmlAttributes: new { @class = "control-label" })

        @*@Html.EditorFor(model => model.TicketAttachment, new { htmlAttributes = new { @class = "form-control" } })*@
        @Html.ValidationMessageFor(model => model.TicketAttachment, "", new { @class = "text-danger" })
        <input class="form-control" type="file" name="TicketAttachmentUpload" />

    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.TicketStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TicketStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TicketStatus, "", new { @class = "text-danger" })
            </div>
        </div>*@
</div>
                <div class="form-group card-footer">
                    <input id="ticketSubmit" @*onclick="onSuccess()"*@ class="btn btn-danger" type="submit" value="ارسال تیکت" />
                </div>
            
    </div>
        }
</div>

@section s{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    @*Reference the autogenerated SignalR hub script.*@
    <script src="~/signalr/hubs"></script>
    <script>
        var chat = $.connection.myHub1;

        $.connection.hub.start().done(function () {
            console.log("established connection");
        });
        //onReady
        $(function () {

            $("#test").click(function () {
                document.getElementById("load-bar").className = "spinner-border spinner-border-sm";
                document.getElementById("load-bar").innerHTML = "<p>spinner-border spinner-border-sm</p>";
                //document.getElementById("alertBtn").getElementById("loading-bar") = "spinner-border";
            });
            

            $("#myForm").submit(function (event) {
                event.preventDefault();

                var form = document.getElementById("myForm");
                var formData = new FormData(form);
                //document.getElementById("load-bar").className = "";
                $.ajax({
                    url: "/User/Create",
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        //alert(res.Name);
                        chat.server.notify();
                        Swal.fire({
                            title: "تیکت با موفقیت ثبت شد!",
                            icon: "success"
                        });
                        //location.reload(true);
                    },

                    error: function () {
                        alert('error');
                    }
                });
            });

        });
        //---



        //function onSuccess() {
        //    //console.log(data);
        //    //alert(data);
        //    $.ajax({
        //        type: 'POST',
        //        url: '/User/Create',
        //        contentType: 'application/json; charset=utf-8',
        //        data: FormData,
        //        success: function (result) {
        //            alert("Yeees");
        //        },
        //        error: function () {

        //            //$.connection.hub.start().done(function () {

        //            //    // Call the Send method on the hub.
        //            //    hubConnection.server.send();

        //            //});
        //            Swal.fire({
        //                title: "تیکت با موفقیت ثبت شد!",
        //                icon: "success"
        //            });



        //        }
        //    })
        //}
    </script>
}