@model TicketManagementApp.Models.Ticket
@using System.Globalization;
@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    Layout = "~/Views/Shared/_DefPage1.cshtml";
    PersianCalendar persianCalendar = new PersianCalendar();
}


@*<!DOCTYPE html>

    <html dir="rtl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
    </head>*@
<body>
    <div>

        <h4 class="text-center">اطلاعات تیکت</h4>
        <hr />

        <div class="card">
            <div class="card-header bg-info">
                ایجاد کننده تیکت
            </div>
            <div class="card-body">
                <p class="card-text">@Html.DisplayFor(model => model.Account.FullName)</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header bg-info">
                @Html.DisplayNameFor(model => model.TicketGroup.TicketGroupTitle)
            </div>
            <div class="card-body">
                <p class="card-text">@Html.DisplayFor(model => model.TicketGroup.TicketGroupTitle)</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-info">
                @Html.DisplayNameFor(model => model.TicketDate)
            </div>
            <div class="card-body">
                <p class="card-text">
                    @{
                        string date = persianCalendar.GetYear(Model.TicketDate).ToString() + "/" + persianCalendar.GetMonth(Model.TicketDate).ToString() + "/" + persianCalendar.GetDayOfMonth(Model.TicketDate).ToString();
                    }
                    @date
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header bg-info">
                @Html.DisplayNameFor(model => model.TicketSubject)
            </div>
            <div class="card-body">
                <p class="card-text">@Html.DisplayFor(model => model.TicketSubject)</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header bg-info">
                @Html.DisplayNameFor(model => model.TicketDescription)
            </div>
            <div class="card-body">
                <p class="card-text"> @Html.DisplayFor(model => model.TicketDescription)</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header bg-info">
                @Html.DisplayNameFor(model => model.TicketAttachment)
            </div>
            <div class="card-body">
                <p class="card-text">
                    <a href="~/TicketAttachments/@Model.TicketAttachment">
                        دانلود فایل ضمیمه
                        @*@Html.DisplayFor(model => model.TicketAttachment)*@
                    </a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header bg-info">
                @Html.DisplayNameFor(model => model.TicketStatus)
            </div>
            <div class="card-body">
                <p class="card-text">
                    @Html.DisplayFor(model => model.TicketStatus)
                </p>
            </div>
        </div>


        <div class="card">
            <div class="card-header bg-info">
                پاسخ های تیکت
            </div>
            <div class="card-body">
                <p class="card-text">
                    @foreach (var item in Model.TicketReply.OrderByDescending(i => i.ReplyId).ToList())
                    {
                        <span>-</span> @Html.DisplayFor(model => item.Text)
                        <hr />
                    }
                </p>
            </div>
        </div>
    </div>
    <hr />
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.TicketID }) |*@
        @Html.ActionLink("بازگشت", "Index", "", htmlAttributes: new { @class = "btn btn-danger" })
    </p>
    </body>
